  <div class="navbar bg-danger navbar-dark navbar-expand-sm mb-3">
      <div class="container">
          <a href="/" class="navbar-brand">ShopApp</a>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a href="/products" class="nav-link">Products</a>
              </li>
            <li class="nav-item">
                <a href="" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Orders</a>
            </li>
              <li class="nav-item">
                <a asp-controller="admin" asp-action="createproduct" class="nav-link">Add Product</a>
              </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="productlist" class="nav-link">Admin Products</a>
            </li>
          </ul>


          <form action="/product/list" class="form-inline">
              <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>



      </div>
    </div>